[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FitUltD"]
	path = FitUltD
	url = https://github.com/jcval94/fitultd
[submodule "shortcuts"]
	path = shortcuts
	url = https://github.com/jcval94/shortcuts
